@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap');

@import "tailwindcss";
/* Custom Scrollbar for the D&D feel */
body {
  background-color: #1a1a1a;
  color: #3E2723;
  font-family: 'Crimson Text', serif;
}